a.Fx_link_Whatsapp
{
   color: #1973B5;
   font-weight: bold;
   text-decoration: none;
   transition: all 300ms ease-in;
   position: relative;
   display: inline-block;
}
a.Fx_link_Whatsapp::after
{
   background: transparent;
   content: "";
   display: block;
   height: 0;
   width: 100%;
   margin-top: 2px;
   transition: all 300ms ease-in;
}
a.Fx_link_Whatsapp:hover::after
{
   background: #1973B5;
   height: 2px;
}
a.Fx_link_Whatsapp:visited
{
   color: #1973B5;
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
}
a.Fx_link_Whatsapp:active
{
   color: #1973B5;
   font-weight: bold;
   text-decoration: none;
}
a.Fx_link_Whatsapp:hover
{
   color: #1973B5;
   font-weight: bold;
   text-decoration: none;
}
h1, .h1
{
   font-family: Poppins;
   font-weight: bold;
   font-size: 29px;
   line-height: 56.13px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   --color: #505050;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
.initially-hidden
{
   text-decoration: none;
   background-color: transparent;
   opacity: 0;
}
.blurred-backdrop
{
   text-decoration: none;
   background-color: rgba(0,0,0,0.50);
   --background-color: rgba(0,0,0,0.50);
   backdrop-filter: blur(10px) ;
   -webkit-backdrop-filter: blur(10px) ;
   padding: 75px 50px 75px 50px;
}
.slider_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
.slider_descripcion
{
   font-family: "Poppins Light";
   font-size: 19px;
   text-decoration: none;
   color: #7F7F7F;
   --color: #7F7F7F;
   background-color: transparent;
}
.Banner_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   line-height: 71.53px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   --color: #1E1E1E;
}
h1, .h1
{
   font-family: Poppins;
   font-weight: bold;
   font-size: 29px;
   text-align: center;
   line-height: 56.13px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   --color: #505050;
   display: inline;
}
h3, .h3
{
   font-family: Poppins;
   font-weight: bold;
   font-size: 12px;
   text-align: left;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
@media only screen and (max-width: 768px)
{
.slider_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
.slider_descripcion
{
   font-family: "Poppins Light";
   font-size: 19px;
   text-decoration: none;
   color: #7F7F7F;
   --color: #7F7F7F;
   background-color: transparent;
}
.Banner_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
}
@media only screen and (max-width: 425px)
{
.slider_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
.slider_descripcion
{
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
   color: #7F7F7F;
   --color: #7F7F7F;
   background-color: transparent;
}
.Banner_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
}
@media only screen and (max-width: 375px)
{
.slider_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
.slider_descripcion
{
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
   color: #7F7F7F;
   --color: #7F7F7F;
   background-color: transparent;
}
.Banner_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
}
}
@media only screen and (max-width: 320px)
{
.slider_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   --color: #303030;
}
.slider_descripcion
{
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
   color: #7F7F7F;
   --color: #7F7F7F;
   background-color: transparent;
}
.Banner_titulo
{
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
   color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   --color: #303030;
}
}
