a.Fx_link_Whatsapp {
   color: #1973B5;
   display: inline-block;
   font-weight: bold;
   position: relative;
   text-decoration: none;
   transition: all 300ms ease-in;
}
a.Fx_link_Whatsapp::after {
   background: transparent;
   content: "";
   display: block;
   height: 0;
   margin-top: 2px;
   transition: all 300ms ease-in;
   width: 100%;
}
a.Fx_link_Whatsapp:hover::after {
   background: #1973B5;
   height: 2px;
}
a.Fx_link_Whatsapp:visited {
   color: #1973B5;
   font-style: italic;
   font-weight: bold;
   text-decoration: none;
}
a.Fx_link_Whatsapp:active {
   color: #1973B5;
   font-weight: bold;
   text-decoration: none;
}
a.Fx_link_Whatsapp:hover {
   color: #1973B5;
   font-weight: bold;
   text-decoration: none;
}
h1,
.h1 {
   --color: #1E1E1E;
   --color: #505050;
   background-color: transparent;
   color: #1E1E1E;
   display: inline;
   font-family: Poppins;
   font-size: 29px;
   font-weight: bold;
   line-height: 56.13px;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h2,
.h2 {
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 27px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h3,
.h3 {
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 24px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h4,
.h4 {
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h5,
.h5 {
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 19px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
h6,
.h6 {
   --color: #000000;
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-decoration: none;
}
.initially-hidden {
   background-color: transparent;
   opacity: 0;
   text-decoration: none;
}
.blurred-backdrop {
   --background-color: rgba(0,0,0,0.50);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: rgba(0,0,0,0.50);
   padding: 75px 50px 75px 50px;
   text-decoration: none;
}
.slider_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   text-decoration: none;
}
.slider_descripcion {
   --color: #7F7F7F;
   background-color: transparent;
   color: #7F7F7F;
   font-family: "Poppins Light";
   font-size: 19px;
   text-decoration: none;
}
.Banner_titulo {
   --color: #1E1E1E;
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   line-height: 71.53px;
   text-decoration: none;
}
h1,
.h1 {
   --color: #1E1E1E;
   --color: #505050;
   background-color: transparent;
   color: #1E1E1E;
   display: inline;
   font-family: Poppins;
   font-size: 29px;
   font-weight: bold;
   line-height: 56.13px;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-align: center;
   text-decoration: none;
}
h3,
.h3 {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   display: inline;
   font-family: Poppins;
   font-size: 12px;
   font-weight: bold;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-align: left;
   text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1919px) {
.slider_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 37px;
   text-decoration: none;
}
.slider_descripcion {
   --color: #7F7F7F;
   background-color: transparent;
   color: #7F7F7F;
   font-family: "Poppins Light";
   font-size: 19px;
   text-decoration: none;
}
.Banner_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
.slider_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
.slider_descripcion {
   --color: #7F7F7F;
   background-color: transparent;
   color: #7F7F7F;
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
}
.Banner_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
.slider_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
.slider_descripcion {
   --color: #7F7F7F;
   background-color: transparent;
   color: #7F7F7F;
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
}
.Banner_titulo {
   --color: #1E1E1E;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
}
@media only screen and (max-width: 374px) {
.slider_titulo {
   --color: #1E1E1E;
   --color: #303030;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
.slider_descripcion {
   --color: #7F7F7F;
   background-color: transparent;
   color: #7F7F7F;
   font-family: "Poppins Light";
   font-size: 13px;
   text-decoration: none;
}
.Banner_titulo {
   --color: #1E1E1E;
   --color: #303030;
   background-color: transparent;
   color: #1E1E1E;
   font-family: "Poppins ExtraBold";
   font-size: 19px;
   text-decoration: none;
}
}
